[Unit]
#Launch the NeoPixel Calendar application
Description= NeoPixel Calendar

[Service]
User=root
Type=simple
ExecStart=/usr/bin/python3 /home/pi/neocal/neocal.py
ExecStop=/usr/bin/python3 /home/pi/neocal/off_neopixel.py
StandardInput=tty-force
Restart=always

[Install]
WantedBy=default.target
